<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841408435990-2gijna6i6f32dtnks952kdgfo2a0a0f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841408435990-2gijna6i6f32dtnks952kdgfo2a0a0f7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841408435990-q47k5k2q5q0hmock4fp981qb41a24ba6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLNnXo7Uj55fx_OwGRa_Pzjjqus6htZLs</string>
	<key>GCM_SENDER_ID</key>
	<string>841408435990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatopeas</string>
	<key>PROJECT_ID</key>
	<string>chatopea-230dd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatopea-230dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841408435990:ios:d05d44d5878b995f546237</string>
</dict>
</plist>